body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  height:100vh;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

.Home_Wrapper {
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 3%;
}

.Home_Container {
  width: 100%;
  position:relative;
  background-color:#eeeae4;
  margin: 0;
  padding:10px;
  text-align: center;
}